@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::selection{
  background: rgb(0,123,255,0.3);
}
.content{
  max-width: 1250px;
  margin: auto;
  padding: 0px 30px;
}
.navbar{
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 25px 0;
  transition: all 0.3s ease;
}
.navbar.sticky{
  padding: 10px 0;
  background: #1b1b1b;
  box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.1);
}
.navbar .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  font-family: serif;
  text-decoration: none;
}
.navbar .menu-list{
  display: inline-flex;
}
.menu-list li{
  padding-right: 20px;
  list-style: none;
}
.menu-list li a{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-left: 25px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.menu-list .ab:hover{
  background-color: #1b1b1b;
}
.menu-list li a:hover{
  color: #007bff;
}
.menu-list li ul{
  position: absolute;
  width: 200px;
  background: #1b1b1b;
  display: none;
}
.menu-list li:hover > ul{
  display: inherit;
}
.banner{
  height: 100vh;
  background: url("./Home-bg.png") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.page1 {
  text-align: center;
  padding-top: 50vh;
  color: aliceblue;
  font-size: larger;
}
.page1 h1{
  font-weight: 650;
}
.page1 h3{
  margin-top: 12px;
  font-weight: 200;
}
.content1{
  height: 80vh;
  display: flex;
  gap: 20px;
}
.about{
  padding: 40px 0;
}
.about .title{
  font-size: 35px;
  font-weight: 700;
}
.about p{
  padding-top: 20px;
  text-align: justify;
  font-size: 22px;
  margin-left: 44px;
  margin-right: 22px;
}
.about img{
  padding-left: 10%;
}
.budaya{
  background-color: #243763;
  height: 100vh;
}
.budaya h3{
  text-align: center;
  font-size: 40px;
  font-weight: 550;
  color: aliceblue;
  padding-top: 12vh;
}
.budaya h4{
  margin-top: 10px;
  font-size: larger;
}
.content2{
  display: flex;
  padding-top: 3vh;
  gap: 14px;
  color: aliceblue;
  justify-content: space-between;
  margin: 0 20px 0 20px;
}
.content2 p{
  text-align: justify;
  font-size: 12px;
  max-width: 900px;
  margin: 5px 20px 25px 20px;
}
.content2 .tari-baluse{
  background-color: #151f36;
}
.content2 .tari-baluse p{
  font-size: 14px;
}
.content2 .pakaian-adat{
  background-color: #151f36;
}
.content2 .tari-miti{
  background-color: #151f36;
}
.content2 .tari-miti p{
  font-size: 16px;
}
.content2 img{
  max-height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.tempat-wisata{
  height: 100vh;
  background-color: aliceblue;
}
.content3{
  display: flex;
  padding-top: 18vh;
  color: #1b1b1b;
  justify-content: space-between;
  margin: 0 25px 0 30px;
}
.tempat-wisata .desc{
  max-width: 50vh;
  font-size: 14px;
}
.desc{
  margin-left: 20px;
  text-align: justify;
}
.desc h2{
  margin-top: 20px;
  text-align: center;
}
.desc p{
  padding-top: 10px;
}
.images{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  margin-top: 20px;
  margin-right: 8px;
}
.images h4{
  text-align: center;
}
.images img{
  height: 150px;
  width: 250px;
  margin-top: 10px;
}
.gallery{
  height: 100vh;
  background-color: #243763;
  color: aliceblue;
}
.gallery h2{
  padding-top: 14vh;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
}
.g-images{
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 15px;
  padding: 15px;
  margin-top: 20px; 
  margin-left: 70px; 
}
.gallery img{
  height: 200px;
  width: 350px;
}
.contact{
  height: 100vh;
  width: 100%;
  background-color: aliceblue;
}
.contact .content6{
  padding-top: 17vh;
  color: #1b1b1b;
}
.contact h2{
  font-size: 36px;
  font-weight: 550;
}
.contact .contact-us p{
  margin: 20px 200px 15px 200px;
  font-size: 14px;
}
.iconn{
  display: flex;
  margin-top: 80px;
  margin-bottom: 85px;
  margin-left: 100px;
  justify-content: space-around;
}
.iconn p{
  text-align: center;
}
.iconn img{
  max-height: 60px;
}
.mid-icon{
  margin-left: 175px;
  margin-right: 100px;
}
.copyright p{
  text-align: center;
}
.icon{
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
.icon.cancel-btn{
  position: absolute;
  right: 30px;
  top: 20px;
}
.navbar.sticky .icon.cancel-btn{
  top: 10px;
}
@media (max-width: 868px) {
  body.disabledScroll{
    overflow: hidden;
  }
  .icon{
    display: block;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 9;
  }
  .icon.cancel-btn{
    display: none;
  }
  .icon.cancel-btn.show{
    display: block;
  }
  .icon.hide{
    display: none;
  }
  .navbar .menu-list{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #222;
    display: block;
    padding: 40px 0;
    text-align: center;
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 50px));
    transition: all 0.3s ease;
  }
  .navbar.sticky .menu-list{
    clip-path: circle(25px at calc(100% - 55px) calc(0% + 35px));
  }
  .navbar .menu-list.active{
    clip-path: circle(75%);
  }
  .navbar .menu-list li{
    margin-top: 45px;
  }
  .navbar .menu-list li a{
    font-size: 23px;
  }
}
